# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Hugging Face cache
.hf_cache/

# .env files
.env
.env.*

# Virtual environments
.venv/

# VS Code logs
.vscode/*.log

# Docker logs
docker/*.log

# Readme Template
readme-template.md